.container {
  max-width: 980px;
  display: flex;
  align-items: center;
  margin: 0 auto 48px;
}

.field {
  display: flex;
}
.field_radio {
  margin-right: 52px;
  gap: calc(var(--offset-base-size)*20);
}
.field_btn {
  margin-right: 80px;
  gap: calc(var(--offset-base-size)*6);
}

.btn {
  min-width: 205px;
}

.columns {
  margin: 0;
  padding: 0;
  list-style: none;

  min-height: 362px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: calc(var(--offset-base-size)*5);
}